<!-- ui inverted vertical footer segment -->
<div class="ui  inverted footer segment ">
    <div class="ui center aligned container">
        <div class="ui stackable divided grid">
            <div class="eight wide column">
                <h4 class="ui inverted header">Reference Links</h4>
                <!-- <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="skdevar"><a class="LI-simple-link" href='https://in.linkedin.com/in/skdevar?trk=profile-badge'>Dr. Sendil Kumar</a></div> -->
                <div class="ui inverted link list">
                    <a href="http://beyondwireless.blogspot.com/" class="item left floated">BeyondWireless Blogspot</a>
                    <a href="http://wilessbytes.wordpress.com/" class="item">My blogs on wordpress</a>
                    <a href="https://www.slideshare.net/wiless" class="item">Presentations | Slideshare </a>
                    
                    <a href="https://www.sqimway.com" class="item"> Frequency bands 3GPP</a>
                    <a href="https://www.sharetechnote.com/" class="item">  3GPP Articles | sharetechnote.com</a>
                    <a href="https://www.itu.int/en/ITU-R/study-groups/rsg5/rwp5d/Pages/default.aspx" target="_blank" class="item">ITU-R WP5D</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">Experimental links</h4>  
                <div class="ui inverted link list">
                    <a href="https://bingoteams.appspot.com/" class="item">Online Bingo lockdown</a>
                    <a href="#" class="item">Wireless tools</a>
                    
                </div>
            </div>

        </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui center aligned container" style="color: grey;">
        <a> Disclaimer : </a>
        Views on the portal are completely personal and does not reflect my employer's view.
    </div>
</div>