<!-- ui inverted vertical footer segment -->
<div class="ui  inverted footer segment ">
    <div class="ui center aligned container">
        <div class="ui stackable divided grid">
            <div class="eight wide column">
                <h4 class="ui inverted header">Reference Links</h4>
                <!-- <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="skdevar"><a class="LI-simple-link" href='https://in.linkedin.com/in/skdevar?trk=profile-badge'>Dr. Sendil Kumar</a></div> -->
                <div class="ui inverted link list">
                    <a href="#" class="item left floated">LightReading</a>
                    <a href="#" class="item">GSA</a>
                    <a href="#" class="item">GSMA Intelligence</a>
                    <a href="https://www.itu.int/en/ITU-R/study-groups/rsg5/rwp5d/Pages/default.aspx" target="_blank"
                        class="item">ITU-R WP5D</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">Experimental links</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link 1</a>
                    <a href="#" class="item">Link 2</a>
                    <a href="#" class="item">Link 3</a>
                    <a href="#" class="item">Link 4</a>
                </div>
            </div>

        </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui center aligned container" style="color: grey;">
        <a> Disclaimer : </a>
        Views on the portal are completely personal and does not reflect my employer's view.
    </div>
</div>