
<!-- style="background-image: url(/assets/headerdark.jpg);background-size: cover;" -->
<div class="ui vertical segment" id="jumboheader">
    <!-- <h1> Personal Digital Portal </h1>  -->
    <div class="ui section divider"> </div>
    <!-- <img src="assets/header.jpg" alt="" width="100%" height="250px"> -->
    <!-- <div class="ui section divider"></div> -->
    <div class="ui  container">
        <div class="ui stackable  divided grid">
            <div class="ten wide column ">
                <div class="ui inverted header">Welcome, </div>
                  <p class="ui white" style="color:white"> 
                This is my personal digital portal. I am into wireless technology, standardization and passionate about programming. Posts in my portal are explicitly personal opinion and is not endorsement of my current or previous employers.
    The portal is the home for my blog posts and articles in addition to those that I usually post on #LinkedIn, Medium or twitter. 
    <br><br><i>  Sendil Kumar  </i>
</p>    <a class="header" href="/aboutme">More..</a>

            </div>

            <div class="three wide column">
                <a target="_blank" href="https://twitter.com/iamssk"> <i class="icon floated inverted twitter large"> </i></a>
                <a target="_blank" href="https://github.com/wiless"><i class="icon github inverted large"></i> </a>
                <a target="_blank" href="https://linkedin.com/in/skdevar"><i class="icon inverted linkedin"> </i></a>
                <a target="_blank" href="https://open.spotify.com/show/6clcuPvdeLCj5GPiTBkrFr"><i class="icon green spotify"> </i></a>
                
            </div>


        </div>
    </div>
</div>
