<div class="ui main horizontal menu ">

    <div class="ui  container">
        <a href="/" class="header item">
             <i class="icon home"></i>
         </a>
        <div href="#" class="ui dropdown item">
            <i class="icon bars red"></i>
            <div class="menu">
                <a class="item"  href="/aboutme"><i class="icon user circle outline"></i>About Me</a>
                <a class="item" target=_blank href="https://twitter.com/iamssk"> <i class="icon twitter"></i>@iamssk</a>
                <a class="item" target=_blank href="https://github.com/wiless"><i class="github icon"></i>wiless</a>
                <a class="item" target=_blank href="https://linkedin.com/in/skdevar"><i
               class="linkedin icon"></i>skdevar</a>
         
            </div>
        </div>


        <a href="/articles" class="item">Articles</a>
        <a href="/tutorial" class="item">Tutorial</a>
        <a href="/podcast" class="item"> <i class="icon headphones"></i> </a>

        <div href="#" class="ui right floated dropdown item">
          <button class="ui item button" id="btnsignin" onclick="signIn()">Sign In</button>
         <button class="ui item button" id="btnsignout" onclick="signOut()">Sign Out</button> 
            
            <i class="cube  icon"></i>
            <div class="menu">
                 <a class="item" href="/apps/map.html"><i class="icon map outline"></i>FSS Impact</a>
                <a class="item" href="/apps/cellular"><i class="icon cube"></i>Celluar Results</a>
                <a class="item" href="/apps/api"><i class="icon cube"></i>API Test</a>
                <a class="item" href="/apps/gcsbucket"><i class="icon cube"></i>GCS Bucket</a>                
                
            </div>
        </div>

 

    </div>

</div>
