<div class="ui main horizontal menu ">

    <div class="ui  container">
        <a href="/" class="header item">
             <i class="icon home"></i>
         </a>
        <div href="#" class="ui dropdown item">
            <i class="icon bars red"></i>
            <div class="menu">
                <a class="item"  href="/aboutme"><i class="icon user circle outline"></i>About Me</a>
                <a class="item" target=_blank href="https://twitter.com/iamssk"> <i class="icon twitter"></i>@iamssk</a>
                <a class="item" target=_blank href="https://github.com/wiless"><i class="github icon"></i>wiless</a>
                <a class="item" target=_blank href="https://linkedin.com/in/skdevar"><i
               class="linkedin icon"></i>skdevar</a>
         
            </div>
        </div>


        <a href="/articles" class="item">Articles</a>
        <a href="/tutorial" class="item">Tutorial</a>
        <a href="/podcast" class="item"> <i class="icon headphones"></i> </a>

        <div class="g-signin2" data-onsuccess="onSignIn" data-content="Click to Switch Account"></div>
       
<!--           <button class="ui primary button right floated " id="btnsignin" onclick="signIn()">Sign In</button> -->
<!--          <button class="ui  primary button right floated" id="btnsignout" onclick="signOut()">Sign Out</button>  -->
        
         <a class="ui label">
<img id="profile" class="right mini ui image " src="" alt="Profile" onclick="signOut()" data-content="Click to Sign out">
        </a> 
        
        
<!--         <a id="badge" class="ui teal circular label empty"></a> -->
                <div href="#" class="ui right floated dropdown item">        
  <div id="badge" class="ui label" onclick="showLogbox()"><i class="bell outline icon"  ></i> 13  </div> 
             <div class="menu">

                  <div class="ui relaxed divided list">
                      <div class="item">
                        <i class="large github middle aligned icon"></i>
                        <div class="content">
                          <a class="header">Semantic-Org/Semantic-UI</a>
                          <div class="description">Updated 10 mins ago</div>
                        </div>
                      </div>
                      <div class="item">
                        <i class="large bell middle aligned icon"></i>
                        <div class="content">
                          <a class="header">Semantic-Org/Semantic-UI-Meteor</a>
                          <div class="description">Updated 34 mins ago</div>
                        </div>
                      </div>
                </div>
            </div>
        
    </div>
        
        <div href="#" class="ui right floated dropdown item">        
            <i class="cube icon" ></i>
            
            <div class="menu">
                <a class="item" href="/apps/snl.html"><i class="icon cube"></i>SNL Spectrum viewer</a>
                <a class="item" href="/apps/map.html"><i class="icon map outline"></i>FSS Impact</a>
                <a class="item" href="/apps/cellular"><i class="icon cube"></i>Celluar Results</a>
                <a class="item" href="/apps/api"><i class="icon cube"></i>API Test</a>
                <a class="item" href="/apps/viewer"><i class="icon cube"></i>Simulator Viewer</a>
                <a class="item" href="/apps/gcsbucket"><i class="icon cube"></i>GCS Bucket</a>                
                
            </div>
        </div>

 

    </div>

</div>

<div class="ui basic modal" style="position: absolute;  left: 50%;
    top:0%;  transform: translate(-50%, 0%);" >
     <i class="close icon"></i>
 <div class="ui icon header">
    <i class="terminal icon"></i>
   Log Messages
  </div>    
    <style>
        #logbox::-webkit-scrollbar-thumb{background:"green"}
        
.logmessage {
  line-height: 24pt;
/*   border: solid 1px black; */
}

#logbox>div:nth-of-type(odd) {
  background: #e0e0e0;
}
    </style>
  

    
  <div id="logbox" class="scrolling content" style="background-color:white">
      
  </div>
     <div class="actions">
    <div class="ui red basic cancel inverted button" onclick="clearLogbox()">
      <i class="remove icon"></i>
      Clear
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Close
    </div>
  </div>
    
</div>
<script>
    function appendLog(msg){
        
        var div = document.createElement('div');
        div.classList.add("logmessage");
//         div.textContent = new Date().toLocaleTimeString();        
        new Inspector(div).fulfilled({time:new Date().toLocaleTimeString(),...msg})
        var logbox=document.querySelector('#logbox')
        logbox.insertBefore(div, logbox.firstChild);        
        //logbox.appendChild(div);
        
//         new Inspector(document.getElementById("logbox")).fulfilled({time:new Date().toLocaleTimeString(),...temp1})
        
//        document.getElementById("logbox").innerHTML+="</br>"+msg;    
    }
             
    function clearLogbox(){       
        console.log("Clearing logbox");
    document.getElementById("logbox").innerText="";
     }
    
function showLogbox(){   
    $('.ui.basic.modal').modal('show')
    //document.getElementById("logbox").modal('show');
}
    
</script>
