<div class="ui main horizontal menu ">

    <div class="ui  container">
        <a href="/" class="header item">
             <i class="icon home"></i>
         </a>
        <div href="#" class="ui dropdown item">
            <i class="icon bars red"></i>
            <div class="menu">
                <a class="item"  href="/aboutme"><i class="icon user circle outline"></i>About Me</a>
                <a class="item" target=_blank href="https://twitter.com/iamssk"> <i class="icon twitter"></i>@iamssk</a>
                <a class="item" target=_blank href="https://github.com/wiless"><i class="github icon"></i>wiless</a>
                <a class="item" target=_blank href="https://linkedin.com/in/skdevar"><i
               class="linkedin icon"></i>skdevar</a>
         
            </div>
        </div>


        <a href="/articles" class="item">Articles</a>
        <a href="/tutorial" class="item">Tutorial</a>
        <a href="/podcast" class="item"> <i class="icon headphones"></i> </a>

        <div class="g-signin2" data-onsuccess="onSignIn" data-content="Click to Switch Account"></div>
       
<!--           <button class="ui primary button right floated " id="btnsignin" onclick="signIn()">Sign In</button> -->
<!--          <button class="ui  primary button right floated" id="btnsignout" onclick="signOut()">Sign Out</button>  -->
        
         <a class="ui label">
<img id="profile" class="right  avatar  mini ui image" src="" alt="Profile" onclick="signOut()" data-content="Click to Sign out">

<!-- class ima floated circular -->
        </a>
        
        <a id="badge" class="ui teal circular label"></a>

        
        <div href="#" class="ui right floated dropdown item">        
            <i class="cube icon" ></i>
            
            <div class="menu">
                <a class="item" href="/apps/snl.html"><i class="icon cube"></i>SNL Spectrum viewer</a>
                <a class="item" href="/apps/map.html"><i class="icon map outline"></i>FSS Impact</a>
                <a class="item" href="/apps/cellular"><i class="icon cube"></i>Celluar Results</a>
                <a class="item" href="/apps/api"><i class="icon cube"></i>API Test</a>
                <a class="item" href="/apps/viewer"><i class="icon cube"></i>Simulator Viewer</a>
                <a class="item" href="/apps/gcsbucket"><i class="icon cube"></i>GCS Bucket</a>                
                
            </div>
        </div>

 

    </div>

</div>

