<div id="social">
    <div>
         <a class="ui red" target=_blank
            href="//twitter.com/share?text={{page.title}}&url={{site.url}}{{ page.url | url_encode }}&source=sendildevar.in"
            data-position="bottom left" data-tooltip="Share on Twitter" data-variation="huge">
            <i class="twitter large blue icon"></i>
        </a>
        <div class="ui divider"> </div>
        <a class="ui" target=_blank href="https://www.linkedin.com/shareArticle?mini=true&url=https://blog.sendildevar.in{{page.url|url_encode}}" data-position="bottom left"
            data-tooltip="Share on LinkedIn" data-variation="huge">
            <i class="linkedin blue large icon"></i>
        </a>

    </div>

</div>

