<div id="social">
    <div>
         <a class="ui red" target=_blank
            href="//twitter.com/share?text={{page.title}}&url={{page.link}}"
            data-position="bottom left" data-tooltip="Share on Twitter" data-variation="huge">
            <i class="twitter large blue icon"></i>
        </a>
        <div class="ui divider"> </div>
        <a class="ui" href="{{page.link}}" data-position="bottom left"
            data-tooltip="Share on LinkedIn" data-variation="huge">
            <i class="linkedin blue large icon"></i>
        </a>

    </div>

</div>