<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include jumboheader.html %}
    {% include menu.html %}
    <div class="ui container">

        <div class="ui stackable equal width grid">
            <div class="twelve wide column">
                <div class="ui segment" style="min-height:50vh" >
                    {% include socialbar.html %}
                             <div class="contentfont">
                                 <a target=_blank href="https://github.com/wiless/wiless.github.io/edit/master/{{page.path}}"><i class="linkify icon small"></i></a>                                 
                                {{content}}
                            </div>
<div class="ui divider"></div>
                <a href="{{ page.previous.url }}"> Previous : {{ page.previous.title }} </a> 
<div class="ui divider"></div>
                <a href="{{ page.next.url }}">  Next : {{ page.next.title }}  </a>

               </div>
            </div>
            <div class="four wide column mobile hidden">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
        {% include footer.html %}
</body>
{% include footerscripts.html %}

</html>
