<!DOCTYPE html>
<html lang="en">

{% include htmlheader.html %}

<body>
    {% include header.html %}
    {% include menu.html %}
    <div class="ui container">

        <div class="ui stackable equal width grid">
            <div class="twelve wide column">
                <div class="ui segment" style="min-height:50vh" id="contextwindow">
                             <div class="contentfont">
                                {{content}}
                            </div>
                <a href="{{ page.previous.url }}"> Previous : {{ page.previous.title }} </a> 
                </br>
                <a href="{{ page.next.url }}">  Next : {{ page.next.title }}  </a>

               </div>
            </div>
            <div class="four wide column">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
        {% include footer.html %}
</body>
{% include footerscripts.html %}

</html>
