<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>


    {% include jumboheader.html %}
    {% include menu.html %}

    <div class="ui container">
   {% include socialbar.html %}
   <img class="ui fluid bordered image" src="{{page.img}}">
   <br>
                             <div class="contentfont">
                              
                                {{content}}
                                {% include disqus.html %}
                            </div> 
    </div>

  {% include footer.html %}
</body>

{% include footerscripts.html %}


</html>
