<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>


    {% include jumboheader.html %}
    {% include menu.html %}

    <div class="ui container">
   {% if !page.hidesocial %}
   {% include socialbar.html %}
{% endif %}

   {% if page.img %}
   <img class="ui fluid bordered image" src="{{page.img}}">
   {% endif %}
   <br>
                             <div class="contentfont">
<a target=_blank href="https://github.com/wiless/wiless.github.io/edit/master/{{page.path}}"><i class="linkify small icon"></i></a>                                 
                                {{content}}

                                {% if page.comments %}
                                {% include disqus.html %}
                                {% endif %}
                            </div> 
    </div>

  {% include footer.html %}
</body>

{% include footerscripts.html %}


</html>
